.courseSessionView{

  .viewMore-btn{
    background-color: #fe6722;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right: 10px;
    border-radius:10px;
    border: transparent;
    color:white;
    margin-bottom: 17px;
    margin-top: 10px;
  }
}